div {
    display: inline-block;
    background-color: lightgrey;
    text-align: center;
    border: 1px black solid;
    width: 200px;
    height: 200px;
}

div:hover {
    background-color: yellowgreen;
}