body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

h1 {
    box-shadow: 1px 1px 1px #0000006a;
}

nav {
    background-color: lightseagreen;
    padding: 3px;
    box-shadow: 2px 2px 4px 1px #00000052;

}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

nav > a:hover {
    text-decoration: underline;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
    box-shadow: 4px 4px 9px 0px #00000067;
}

article {
    background-color: gray;
    padding: 5px;
}

article > aside {
    background-color: darkgray;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}

#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
    background-color: white;
}